body {
  margin: 0;
  font-family:monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 98%);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

.App{
  height: 100%;
  position: relative;
}

.bg-h, .bg-v{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: -1;
}

.bg-h{
  background: linear-gradient(90deg, #eee 1%, transparent 1%) 1px 0, rgba(255, 255, 255, 0);
  background-size: 60px 1px;
}
.bg-v{
  background: linear-gradient(0deg, #eee 1%, transparent 1%) 1px 0, rgba(255, 255, 255, 0);
  background-size: 1px 60px;
}
